
<ol class="breadcrumb">
	<li><a ng-href="#/home">TP</a></li>
	<li><a ng-href="#/completar!!!!!">COMPLETAR !!! </a></li>
	<li class="active">Lista</li>
</ol>


<div class="container fill">
	<div class="row">
		<div  class="col-xs-12">
			<span>
				<small>Filtrar datos </small>
				<input type="text" ng-model="datoFiltro" />
			</span>
		</div>
	</div>
	<div class="row">
		<div  class="col-xs-12">
			<h1>Lista de Historias de usuarios</h1>
			<h2>Incluir tabla para seleccionar y editar</h2>
		</div>
	</div>
	<div class="row">
		<div  class="col-xs-12 ">
			<button class="btn btn-danger btn-sm pull-right" ng-click="nuevo()">Nuevo</button>
		</div>
	</div>
</div>

